.App {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.share-icon {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  margin-left: 45rem;
  margin-top: 2rem;
}

.profile-name {
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.5rem;
}

hr {
  margin-top: 7rem;
  color: black;
  width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

span {
  color: red;
  font-size: 3rem;
  margin-left: 1px;
  margin-right: 1px;
}

.button-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaecf0;
  width: 1200px;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  border-radius: 8px;
}

.sell-text {
  font-size: 0.8rem;
  display: none;
}

.sell-text > span {
  font-size: 0.8rem;
}

.button-link:hover {
  background-color: lightgray;
}

.button-link:hover > .sell-text {
  background-color: lightslategray;
  color: white;
  display: block;
}

.icon {
  color: rgb(123, 132, 141);
  font-weight: 600;
  font-size: 2rem;
}

.footer-icon {
  margin-top: 2rem;
  width: 30px;
  height: 30px;
}

.git-icon {
  margin-left: 1.5rem;
}

.footer-text {
  display: flex;
  width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.zuri-text {
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: 700;
}

.hng-text {
  color: gray;
  margin-top: 2rem;
  margin-left: auto;
  
}

.good-img {
  width: 10rem;
  height: 2.7rem;
  margin-top: 1rem;
  margin-left: auto;
}

@media (min-width: 300px) and (max-width: 900px) {
  .share-icon {
    margin-left: 25rem;
  }

  .profile-name {
    margin-bottom: 2rem;
  }

  .button-link {
    width: 440px;
    font-size: 1rem;
  }

  hr {
    width: 28rem;
  }

  .footer-text {
    margin-bottom: 2rem;
    display:block;
    width: 28rem;
  }

}